[mysqld]
wsrep_provider=/usr/lib64/galera-3/libgalera_smm.so
wsrep_provider_options="gcache.size=1G; gcache.page_size=500M"
wsrep_cluster_name="epages_cluster"
wsrep_cluster_address="gcomm://172.18.110.32,172.18.110.33,172.18.110.34"
wsrep_sst_method=rsync
wsrep_node_name=galera02
wsrep_node_address="172.18.110.33"
bind-address=172.18.110.33

server-id=1002